@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.cuisine {
  width: 200px;
  height: 100px;
  box-shadow: 5px 5px;
  font-size: 40px;
  margin-top: 20px;
  font-family: Indie Flower;
}
.info{
  font-family: Indie Flower;
  font-size: 50px;
  font-weight: 20px;
  font-style: bold;
  margin-bottom: 20px;
}

.cuisine > h1 {
  text-align: center;
}

.info {
  text-align: center;
}


