.restaurant-title{
  text-align: center;
  font-family: Indie Flower;
}

.img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}
.restaurant-review{
  display: inline-block;
  text-align: center;
}

.restaurant-distance{
  display: inline-block;
  text-align: center;
}