.restaurant-title{
  text-align: center;
  font-family: Indie Flower;
}

.img{
  display: inline-block;
  
}
.restaurant-review{
  display: inline-block;
  text-align: center;
}

.restaurant-distance{
  display: inline-block;
  text-align: center;
}


.restaurant-component{
  display: inline-block;
}
/* 
div {
  display: inline-block;
} */